<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/home/listado-paginas">
      <ion-icon name="list"></ion-icon>
      <ion-label>Listado</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/home/mangas-guardados">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Guardados</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/home/mangas-pendientes">
      <ion-icon name="book"></ion-icon>
      <ion-label>Pendientes</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/home/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>